{{#partial "contenido"}}
    <h1 class="text-center">ADMINISTRADOR DE PLATAFORMA</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a href="/app/admin-plataforma/organismos" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Configuracion organismos de control</a>
                <a href="/app/admin-plataforma/comunidades" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Configuracion comunidades</a>
                <a href="/app/admin-plataforma/entidades" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Configuracion entidades</a>
                <a href="/app/admin-plataforma/entidades-prestadoras" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Configuracion entidades prestadoras</a>
                <a href="/app/admin-plataforma/servicios" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Configuracion Servicios</a>
                <a href="/app/admin-plataforma/usuarios" class="btn btn-secondary btn-lg btn-block mb-3 d-block">Administracion de Usuarios</a>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base}}