{{#partial "contenido"}}

    <h1 class="text-center">RANKINGS</h1>

    <div class="d-grid gap-2 col-4 mx-auto">
        <a type="redirect" class="btn btn-info btn-lg" href="/app/rankings/r1">Ranking entidades segun tiempo promedio de cierre de Incidentes</a>
        <a type="redirect" class="btn btn-info btn-lg" href="/app/rankings/r2">Ranking entidades segun impacto de Incidentes</a>
        <a type="redirect" class="btn btn-info btn-lg" href="/app/rankings/r3">Ranking entidades segun cantidad de Incidentes</a>
    </div>

{{/partial}}
{{> templates/base}}