{{#partial "contenido" }}
    <header>
        <nav class="navbar navbar-expand-md bg-white">

        </nav>
    </header>

    <header class="bg-celeste text-black text-center py-5">
        <div class="container">
            <h1 class="display-4" style="font-family: 'Arial', sans-serif; font-size: 2.5em;">
                BIENVENIDO AL SISTEMA DE MONITOREO
            </h1>
            <p class="fst-italic">Inicia sesión o regístrate para acceder</p>
            <div class="container">
                <a href="login" class="btn btn-info btn-lg mx-2">Iniciar Sesión</a>
                <a href="signup" class="btn btn-info btn-lg mx-2">Registrarse</a>
            </div>
        </div>
    </header>

{{/partial}}
{{> templates/base_index }}