{{#partial "contenido" }}
    <div>
        <h2 class="text-center">Comunidad: {{comunidad.nombre}}</h2>
        <h3 class="text-center">Lista de incidentes</h3>
    </div>
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <table class="table" border="groove">
            <thead>
            <tr class="table-primary">
                <th>Servicio</th>
                <th>Establecimiento</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            {{#each incidentes}}
                <tr>
                    <td>{{ this.prestacionServicio.servicio.nombre}}</td>
                    <td>{{ this.prestacionServicio.establecimiento.nombre}}</td>
                    <td>{{this.estaAbierto}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-info" onclick="history.back()">Atrás</button>
{{/partial}}
{{> templates/base }}