{{#partial "contenido"}}
    <div class="container">
        <a href="/notis/mail">Mandar Mail</a>
    </div>
    <div class="container">
        <a href="/notis/wpp">Mandar wpp</a>
    </div>
{{/partial}}

{{> templates/base}}