{{#partial "contenido" }}
    <div class="container-fluid d-flex flex-column align-items-center">
        <img src="/img/401.png" class="h-25 w-25">
        <a href="/app/portal" class="btn btn-primary">Volver</a>
    </div>
{{/partial}}
{{> templates/base_index }}