{{#partial "contenido" }}
    <div class="container-fluid d-flex flex-column align-items-center">
        <h3>La pagina que busca no existe...</h3>
        <a href="/app/portal" class="btn btn-primary">Volver</a>
    </div>
{{/partial}}
{{> templates/base_index }}