{{#partial "contenido" }}
    <div class="container-fluid d-flex flex-column align-items-center">
        <h3>Su usuario no se encuentra activo por el momento, intente de nuevo mas tarde.</h3>
        <a href="/login" class="btn btn-primary">Volver</a>
    </div>
{{/partial}}
{{> templates/base_index }}