{{#partial "contenido"}} 
<h1 class="d-flex justify-content-center">Gracias por Contribuir!</h1>

<div class="container-fluid d-flex justify-content-center mt-4">
    <a href="/app/portal" class="btn btn-primary">Volver al Portal</a>
</div>
{{/partial}}

{{> templates/base}}